.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 1.3em;
  position: absolute;
  width: 100%;
  z-index: 10;
  .logo{
    display: flex;
    z-index: 10;
    align-items: flex-start;
    img{
      margin-bottom: 0;
      width: 140px;
      height: auto;
      min-width: 140px;
    }
  }
  .menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    li{
      list-style: none;
      margin-bottom: 0;
      font-weight: 300;
      margin: 0 1em;
      a{
        text-decoration: none;
        color: #fff;
        .menu-home{
          width: 24px;
          min-width: 24px;
        }
      }
    }
  }
  .mobile-menu{
    display: none;
    z-index: 100;
    background-color: var(--primary);
    border-radius: 50%;
    padding: 10px;
    .hamburger{
      width: 24px;
      .bar{
        height: 3px;
        margin: 4px 0;
        background-color: #fff;
        transition: all 0.5s ease;
        border-radius: 40px;
      }
    }
    .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0px, 8px);
    transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-4px, -5px);
    }
  }
}

.mobile-buttons{
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  width: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: all 1s ease;
  ul{
    margin: 0 auto;
    width: 100%;
    padding: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30vh;
    li{
      list-style: none;
      font-size: 24px;
      margin-bottom: 1em;
      opacity: 0;
      transition: all 2s ease;
      transition-delay: 0.5s;
      a{
        text-decoration: none;
        color: var(--base-text);
      }
    }
  }
}

.open-menu{
  height: 40vh;
  padding-top: 120px;
  box-shadow: 0px 2px 20px rgba(0,0,0,0.15);
  ul{

    li{
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 768px){
  .header{
    .menu{
      display: none;
    }
    .mobile-menu{
      display: flex;
    }
  }
}

@media only screen and (max-width: 414px){
  .header{
    .logo{
      img{
        width: 100px;
        min-width: initial;
      }
    }
    .mobile-menu{
      padding: 10px;
      .hamburger{
        .bar{
        }
      }
    }
    .open-menu{
      height: 60vh;
    }
  }
}